DB_USER =
DB_PASSWORD = 
DB_NAME =
DB_HOST = 
CHANGE_PASSWORD_ENDPOINT =

JWT_SECRET_KEY = 
JWT_ALGORITHM = 
MAIL_USERNAME=
MAIL_FROM=
MAIL_PASSWORD=
MAIL_PORT= 
MAIL_SERVER=
MAIL_SSL_TLS=
MAIL_STARTTLS=